# API Gateway (일반 REST)
EXPO_PUBLIC_API_URL=http://k8s-findy-findying-86d54789f5-2017036049.ap-northeast-2.elb.amazonaws.com

EXPO_PUBLIC_USER_API_URL=http://k8s-findy-findying-86d54789f5-2017036049.ap-northeast-2.elb.amazonaws.com
EXPO_PUBLIC_MAP_API_URL=http://k8s-findy-findying-86d54789f5-2017036049.ap-northeast-2.elb.amazonaws.com
EXPO_PUBLIC_SHOPPING_API_URL=http://k8s-findy-findying-86d54789f5-2017036049.ap-northeast-2.elb.amazonaws.com
EXPO_PUBLIC_RECOMMENDATION_API_URL=http://k8s-findy-findying-86d54789f5-2017036049.ap-northeast-2.elb.amazonaws.com
# 맞춤 추천 userId (미설정 시 1)
# EXPO_PUBLIC_DEV_USER_ID=1
